//
//  FrameworkTests.xcconfig
//  Frameworks
//
//  Created by Tanner Oakes on 4/6/15.
//  Copyright (c) 2015 Twitter. All rights reserved.
//

// Apple LLVM 7.0 - Code Generation
GCC_OPTIMIZATION_LEVEL = 0

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

// Deployment
IPHONEOS_DEPLOYMENT_TARGET = 9.0

// Linking
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

// Packaging
INFOPLIST_FILE = $(TARGET_NAME)/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.twitter.${PRODUCT_NAME:rfc1034identifier}
PRODUCT_NAME = $(TARGET_NAME)

// Swift Compiler - Version
//  - for Xcode 8.3.1, this means 'xcrun swift -version' returns 3.1
//  - for Xcode 8.2.1, this means 'xcrun swift -version' returns 3.0
SWIFT_VERSION = 3.0
