//
//  Project-Debug.xcconfig
//  Frameworks
//
//  Created by Tanner Oakes on 4/6/15.
//  Copyright (c) 2015 Twitter. All rights reserved.
//

#include "Project.xcconfig"
#include "DebugFormat.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build Options
VALIDATE_PRODUCT = NO
ENABLE_TESTABILITY = YES

// Deployment
COPY_PHASE_STRIP = NO

// Apple LLVM 6.0 - Code Generation
GCC_OPTIMIZATION_LEVEL = 0

// Apple LLVM 6.0 - Preprocessing
ENABLE_NS_ASSERTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)

// Apple LLVM 6.0 - Warning Policies
GCC_TREAT_WARNINGS_AS_ERRORS = NO

// Swift Compiler - Code Generation
SWIFT_OPTIMIZATION_LEVEL = -Onone
