//
//  Project.xcconfig
//  Frameworks
//
//  Created by Tanner Oakes on 4/6/15.
//  Copyright (c) 2015 Twitter. All rights reserved.
//

// Architectures
SDKROOT = iphoneos

// Build Options
ENABLE_BITCODE = NO
VALIDATE_PRODUCT = YES

// Deployment
COPY_PHASE_STRIP = YES
TARGETED_DEVICE_FAMILY = 1,2

// Linking
OTHER_LDFLAGS = -ObjC

// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO

// Versioning
CURRENT_PROJECT_VERSION = 1
VERSIONING_SYSTEM = apple-generic

// Apple LLVM 6.0 - Code Generation
GCC_DYNAMIC_NO_PIC = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_NO_COMMON_BLOCKS = YES

// Apple LLVM 6.0 - Custom Compiler Flags
OTHER_CFLAGS = -Wunreachable-code

// Apple LLVM 6.0 - Language
GCC_C_LANGUAGE_STANDARD = gnu99

// Apple LLVM 6.0 - Language - C++
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++

// Apple LLVM 6.0 - Language - Modules
CLANG_ENABLE_MODULES = YES
CLANG_MODULES_AUTOLINK = NO

// Apple LLVM 6.0 - Language - Objective C
CLANG_ENABLE_OBJC_ARC = YES
CLANG_LINK_OBJC_RUNTIME = YES

// Apple LLVM 6.0 - Preprocessing
ENABLE_NS_ASSERTIONS = NO
ENABLE_STRICT_OBJC_MSGSEND = YES

// Apple LLVM 6.0 - Warning Policies
GCC_TREAT_WARNINGS_AS_ERRORS = YES

// Apple LLVM 6.0 - Warnings - All languages
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_EMPTY_BODY = YES
GCC_WARN_SHADOW = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_SIGN_COMPARE = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES

// Apple LLVM 6.0 - Warnings - C++
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES

// Apple LLVM 6.0 - Warnings - Objective C
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR

// Apple LLVM 6.0 - Warnings - Objective C and ARC
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES

// Static Analyzer - Analysis Policy
// Note static analysis and builds are now parallelized
// and not run in serial as part of the build step.
RUN_CLANG_STATIC_ANALYZER = $(RUN_CLANG_STATIC_ANALYZER_FOR_$(PRODUCT_NAME))

// Static Analyzer - Issues - Apple API

CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES

// Static Analyzer - Issues - Security
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES

// Swift Compiler - Version
//  - for Xcode 8.3.1, this means 'xcrun swift -version' returns 3.1
//  - for Xcode 8.2.1, this means 'xcrun swift -version' returns 3.0
SWIFT_VERSION = 3.0
