// Copyright (C) 2017 Twitter, Inc.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

#include "Targets/StaticLibrary.xcconfig"

PRODUCT_NAME = TwitterKit
SUPPORTED_PLATFORMS = iphonesimulator iphoneos

PRIVATE_HEADERS_FOLDER_PATH = PrivateHeaders/${PRODUCT_NAME}
PUBLIC_HEADERS_FOLDER_PATH = Headers/${PRODUCT_NAME}
HEADER_SEARCH_PATHS = $(inherited) $(TARGET_BUILD_DIR)/Headers/ $(TARGET_BUILD_DIR)/PrivateHeaders/
GCC_PREFIX_HEADER = TwitterKit/Supporting Files/TwitterKit-Prefix.pch
FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/../vendor
