// Copyright (C) 2017 Twitter, Inc.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

#include "Targets/Framework.xcconfig"

SUPPORTED_PLATFORMS = iphonesimulator iphoneos

INFOPLIST_FILE = TwitterKit-Info.plist

MODULEMAP_FILE = TwitterKit-module.modulemap

// Probably the default
PRIVATE_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/PrivateHeaders
PUBLIC_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/Headers

FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/../vendor

GCC_PREFIX_HEADER = TwitterKit/Supporting Files/TwitterKit-Prefix.pch
