//
// Target.xcconfig
//
// Copyright (c) 2015 Twitter. All rights reserved.
//

#include "../Architectures.xcconfig"
#include "../CodeSigning.xcconfig"
#include "../CompilerFeatures.xcconfig"
#include "../CompilerWarnings.xcconfig"

DEBUG_INFORMATION_FORMAT_Debug = dwarf
DEBUG_INFORMATION_FORMAT_Release = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT = $(DEBUG_INFORMATION_FORMAT_$(CONFIGURATION))

ALWAYS_SEARCH_USER_PATHS = NO

SKIP_INSTALL = YES

PRODUCT_NAME = $(TARGET_NAME)

COPY_PHASE_STRIP_Debug = NO
COPY_PHASE_STRIP_Release = YES
COPY_PHASE_STRIP = $(COPY_PHASE_STRIP_$(CONFIGURATION))

VALIDATE_PRODUCT_Debug = NO
VALIDATE_PRODUCT_Release = YES
VALIDATE_PRODUCT = $(VALIDATE_PRODUCT_$(CONFIGURATION))

ENABLE_NS_ASSERTIONS_Debug = YES
ENABLE_NS_ASSERTIONS_Release = NO
ENABLE_NS_ASSERTIONS = $(ENABLE_NS_ASSERTIONS_$(CONFIGURATION))

ENABLE_TESTABILITY_Debug = YES
ENABLE_TESTABILITY_Release = NO
ENABLE_TESTABILITY = $(ENABLE_TESTABILITY_$(CONFIGURATION))
